* {
  margin: 0;
  padding: 0;
  /* -webkit-overflow-scrolling: touch; */
}

#app {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* 设置滚动条的样式 */

::-webkit-scrollbar {
  width: 4px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px grey;
  border-radius: 10px;
}

/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: grey;
  -webkit-box-shadow: inset 0 0 6px grey;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(119, 119, 119);
}